 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    *{
        font-family: "Montserrat", sans-serif;
    }
body {
            background-color: #f5f5f5;
            font-family: Arial, sans-serif;
        }
        .container {
            width: 95%;
            margin: 20px auto;
            border: 2px solid #999;
            padding: 20px;
            background: white;
        }
        h2, h3,h4,h5 {
            text-align: center;
        }
        .section {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
            margin-bottom: 20px;
        }
        label {
            font-weight: bold;
        }
        input, select {
            width: 95%;
            padding: 5px;
            margin-top: 3px;
        }
        .buttons {
            text-align: center;
            margin-top: 30px;
        }
        button {
            padding: 10px 40px;
            font-size: 20px;
            margin: 5px;
            background-color: crimson;
            color: white;
            border: none;
            border-radius: 4px;
            font-weight: bold;
        }
        strong{
            border:solid 5px black;
            background-color: crimson;
            border-radius: 10px;
            
        }
        #bout{
            border: solid 5px #fbf9f9;
            background-color: crimson;
            padding: 10px;
            margin: 10px 10px 10px 10px;
            border-radius: 10px;
            width: fit-content;
            color:#fbf9f9 ;
        }
        h3{ 
         color: crimson;
         font-size: 19px;
        }
        a{
            border: solid 5px #fbf9f9;
            background-color: crimson;
            padding: 10px;
            margin: 50px 50px 50px 50px;
            border-radius: 10px;
            width: fit-content;
            color:#fbf9f9 ;
            font-size: 20px;
            text-decoration: none;
            font-weight: bold;
         }
         #1{
            border: solid 2px crimson;
         }
         legend.cnas {
          color:crimson;
          font-weight: bold;
        }

        legend.enquete {
         color: crimson;
         font-weight: bold;
        }
